<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martel.rad">

    <application
        android:allowBackup="true"
        android:icon="@drawable/rad"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity android:name=".NewPostActivity" />
        <activity
            android:name=".SignInActivity"
            android:theme="@style/AppTheme.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PostDetailActivity" />
        <activity
            android:name=".CadastroActivity"
            android:theme="@style/AppTheme.TelaCheia" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="radcontrol.page.link"
                    android:pathPrefix="/isEmailVerified"
                    android:scheme="http" />
                <data
                    android:host="radcontrol.page.link"
                    android:pathPrefix="/isEmailVerified"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProcedimentoActivity"
            android:label="@string/title_activity_procedimento"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>